@use '/static/assets/sass/abstracts/colors';
@use '/static/assets/sass/abstracts/mixins';

section.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a,
  .btn {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    color: colors.$primary01;
    -webkit-tap-highlight-color: transparent;
  }

  .btn {
    @include mixins.button-sm(colors.$primary01, colors.$secondary02);

    &:not(.copy) {
      margin-left: 1rem;
    }

    &.copy {
      position: relative;
      display: flex;
      align-items: center;

      & span.tooltip {
        visibility: hidden;
        background-color: colors.$primary03;
        color: colors.$lightest;
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        white-space: nowrap;

        position: absolute;
        z-index: 1;
        left: 105%;
      }
      &:hover span.tooltip {
        visibility: visible;
      }
    }
  }

  div.success {
    visibility: hidden;
    fill: colors.$success;
    height: 1.5rem;
    width: 1.5rem;
    padding-left: 0.75rem;
    &.show {
      visibility: visible;
    }
  }

  div.icon {
    width: 2rem;
    padding-right: 0.75rem;
    transform: scale(0.75);
  }
}

section.contact-info div.icon svg path {
  fill: colors.$primary01;
}

@media screen and (max-width: 820px), screen and (orientation: landscape) and (max-height: 415px) {
  section.contact-info .btn.copy:hover span.tooltip {
    visibility: hidden;
  }
}

@media screen and (min-width: 821px) {
  section.contact-info div.success {
    visibility: hidden;
  }
}

@media screen and (orientation: landscape) and (max-height: 415px) {
  section.contact-info h5 {
    margin: 0;
  }
}
