<script lang="ts">
  import { onMount } from 'svelte';
  import type { Contact } from './contact';

  export let contact: Contact;

  let href = '';
  let rel = '';
  let target = '';
  let copyNotityDefaultText = 'Copy';
  let copyNotify = copyNotityDefaultText;

  function copy(ev: MouseEvent) {
    ev.preventDefault();
    navigator.clipboard.writeText(contact.copyText ?? '');
    copyNotify = 'Copied';
    setTimeout(() => (copyNotify = copyNotityDefaultText), 1000);
  }

  onMount(() => {
    if (contact.openNewTab) {
      rel = 'noopener noreferrer';
      target = '_blank';
    }
    copyNotify = copyNotityDefaultText = contact.label;
    href = contact.href;
  });
</script>

<section class="contact-info">
  <a {href} {target} {rel}>
    <div class="icon">
      <slot />
    </div>
    <h5>{contact.label}</h5>
    {#if contact.showActionBtn}
      <div class="btn">{contact.actionBtnLabel}</div>
    {/if}
  </a>
  {#if contact.showCopyBtn}
    <a class="btn copy" href="#top" on:click={copy}>
      Copy
      <span class="tooltip">{copyNotify}</span>
    </a>
    <div class={copyNotify === 'Copied' ? 'success show' : 'success'}>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <!-- Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
        <path
          d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"
        />
      </svg>
    </div>
  {/if}
</section>

<style lang="scss">
  @use './contact-info.scss';
</style>
