<script lang="ts">
  import { onMount } from 'svelte';

  import anime from 'animejs';
  import { throttle } from 'lodash';

  import Footer from '$lib/components/footer/footer.svelte';
  import Welcome from '$lib/components/welcome/welcome.svelte';

  let snapContainerRef: HTMLElement;
  let mainBgAnchorRef: HTMLElement;
  let codeEditorAnchorRef: HTMLDivElement;
  let designAnchorRef: HTMLDivElement;
  let bgAnchors: HTMLElement[];

  onMount(() => {
    document.addEventListener('mousemove', updatePortholeMousePos);
    document.addEventListener('mouseover', updatePortholeMousePos);
    document.addEventListener('touchmove', updatePortholeTouchPos);
    bgAnchors = [codeEditorAnchorRef, designAnchorRef];
    animateArrow();
    return () => {
      document.removeEventListener('mousemove', updatePortholeMousePos);
      document.removeEventListener('mouseover', updatePortholeMousePos);
      document.removeEventListener('touchmove', updatePortholeTouchPos);
    };
  });

  function animateArrow() {
    anime({
      targets: 'div.prompt',
      translateY: 135,
      scale: 1.25,
      easing: 'easeInElastic(1, 0.5)',
      loop: true,
      direction: 'alternate',
      duration: 1500,
      delay: 2000
    });
  }

  function updatePortholeMousePos(event: MouseEvent) {
    throttle(() => updatePortholePos(event.pageX, event.pageY), 50).apply({});
  }

  function updatePortholeTouchPos(event: TouchEvent) {
    const pageX = event.touches.item(0)?.pageX ?? -1000;
    const pageY = event.touches.item(0)?.pageY ?? -1000;
    throttle(() => updatePortholePos(pageX, pageY), 50).apply({});
    event.stopPropagation();
  }

  function updatePortholePos(pageX: number, pageY: number) {
    const scrollY = snapContainerRef?.scrollTop ?? 0;
    const adjustX = mainBgAnchorRef?.offsetLeft ?? 0;
    const adjustY = mainBgAnchorRef?.offsetTop ?? 0;

    bgAnchors.forEach((bgAnchor) => {
      const bgPorthole = bgAnchor?.lastElementChild;
      const portholeHalfHeight = (bgPorthole?.clientHeight ?? 2) / 2;
      const portholeHalfWidth = (bgPorthole?.clientWidth ?? 2) / 2;
      const offsetLeft = bgAnchor?.offsetLeft ?? 0;
      const offsetTop = bgAnchor?.offsetTop ?? 0;

      if (
        pageY + scrollY > offsetTop + adjustY - portholeHalfHeight &&
        pageX > offsetLeft + adjustX - portholeHalfWidth
      ) {
        const left = pageX - portholeHalfWidth - adjustX - offsetLeft;
        const top = pageY - portholeHalfHeight - adjustY + scrollY - offsetTop;
        const bgPosX = adjustX + offsetLeft;
        const bgPosY = adjustY - scrollY + offsetTop;

        bgPorthole?.setAttribute(
          'style',
          `left: ${left}px; top: ${top}px; background-position-x: ${bgPosX}px; background-position-y: ${bgPosY}px`
        );
      } else {
        bgPorthole?.setAttribute('style', 'left: -10000px; top: -10000px');
      }
    });
  }
</script>

<main bind:this={snapContainerRef} class="home snap-container">
  <section class="intro">
    <h2 class="welcome">
      <Welcome />
    </h2>
    <div class="prompt">
      <object
        type="image/svg+xml"
        data="/assets/svg/down-arrow-prompt.svg"
        aria-label="Down arrow image as a prompt."
      />
    </div>
    <aside bind:this={mainBgAnchorRef} class="background-anchor">
      <div bind:this={codeEditorAnchorRef} class="code-editor-ss-anchor">
        <div class="code-editor-screenshot" />
        <div class="code-editor-mask" />
        <div class="code-editor-porthole" />
      </div>

      <div bind:this={designAnchorRef} class="design-ss-anchor">
        <div class="design-screenshot" />
        <div class="design-ss-mask" />
        <div class="design-screenshot-porthole" />
      </div>
    </aside>
  </section>

  <section class="experience">
    <aside class="content">
      <h1>Experience</h1>
      <article class="summary">
        Over fifteen years of experience building successful web applications across various
        industries including Retirement Investing, Cloud Services, and Geospatial Intelligence via
        Satellite Imagery.
      </article>
      <a class="button" href="/projects"> View Projects </a>
    </aside>
  </section>

  <section class="about">
    <aside class="content">
      <h1>About</h1>
      <article class="summary">
        <p>
          Angular expert and Full Stack, Senior Software Engineer with strong experience applying a
          mixture of languages and technologies to create applications and websites that solve
          specific client needs.
        </p>
        <p>
          Lead developer and team player, delivering numerous successful projects by designing,
          architecting, developing, mentoring, reviewing code, testing, and technical writing.
        </p>
        <p>Favorite tasks include UI/UX design, UI Architecture, and front-end development.</p>
      </article>
      <a
        class="button"
        href="/docs/Chris Demaria - Senior Full Stack Engineer.pdf"
        target="_blank"
        rel="noopener noreferrer"
      >
        My R&eacute;sum&eacute;
      </a>
    </aside>
  </section>

  <div class="footer">
    <Footer tagLine="" showFade={true} />
  </div>
</main>

<svelte:head>
  <title>Chris Demaria | Portfolio</title>
</svelte:head>

<style lang="scss">
  @use './home.scss';
</style>
