@use '/static/assets/sass/abstracts/colors';
@use '/static/assets/sass/abstracts/mixins';

main.home {
  &.snap-container {
    overflow-y: scroll;
    overflow-x: clip;
    // Not Safari
    @supports not (-webkit-hyphens: none) {
      scroll-snap-type: y mandatory;
    }
    height: calc(100vh);
  }

  section {
    &.intro,
    &.about,
    &.experience {
      height: 922px;
      position: relative;
      scroll-snap-align: start;
      scroll-snap-stop: always;

      aside.content {
        padding-left: 6.75rem;
        padding-top: 5rem;

        article.summary {
          font-size: 1.313rem;
          width: 28.5rem;
          margin: 4.75rem 0 7rem;
          @include mixins.text-bg-glass();
        }
      }
    }

    &.intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      h2.welcome {
        margin-top: 25rem;
      }

      div.prompt {
        margin-bottom: 11em;
        min-height: 15rem;
        display: flex;
        align-items: flex-end;
      }

      $bg-anchor-offset-x: 1200px;
      $bg-anchor-offset-y: -70px;

      $code-editor-image-url: '/assets/images/vscode-dark-screenshot.png';
      $code-editor-height: 1247px;
      $code-editor-width: 2100px;

      $mockup-image-url: '/assets/images/mobile-figma-screenshot.png';
      $mockup-height: 865px;
      $mockup-width: 393px;
      $mockup-offset-x: -140px;
      $mockup-offset-y: 660px;

      aside.background-anchor {
        position: relative;
        z-index: -1;
        top: $bg-anchor-offset-y;
        left: $bg-anchor-offset-x;

        div.code-editor-ss-anchor {
          position: relative;
          z-index: -1;

          div.code-editor-screenshot {
            background: url($code-editor-image-url) no-repeat;
            z-index: 1;
            height: $code-editor-height;
            width: calc($code-editor-width + 2rem);
          }

          div.code-editor-mask {
            @include mixins.glass-morph(3.5px);
            position: absolute;
            z-index: 2;
            height: $code-editor-height;
            width: calc($code-editor-width);
            top: 1rem;
            left: 2rem;
          }

          div.code-editor-porthole {
            @include mixins.porthole($code-editor-image-url);
            z-index: 3;
          }
        }

        div.design-ss-anchor {
          position: absolute;
          z-index: -1;
          top: $mockup-offset-y;
          left: $mockup-offset-x;

          div.design-screenshot {
            background: url($mockup-image-url) no-repeat;
            z-index: 1;
            height: $mockup-height;
            width: $mockup-width;
          }

          div.design-ss-mask {
            @include mixins.glass-morph(3.5px);
            position: absolute;
            z-index: 2;
            height: calc($mockup-height + 1rem);
            width: calc($mockup-width + 2rem);
            top: -1rem;
            left: -1rem;
          }

          div.design-screenshot-porthole {
            @include mixins.porthole($mockup-image-url);
            z-index: 3;
          }
        }
      }
    }

    a.button {
      @include mixins.button(colors.$lightest, colors.$primary01);
    }
  }
  div.footer {
    position: relative;
    scroll-snap-align: end;
    display: block;
  }
}

@media screen and (max-height: 850px) {
  main.snap-container {
    section.intro {
      h2.welcome {
        margin-top: 18rem;
      }
      div.prompt {
        margin-bottom: 10em;
        min-height: 12rem;
      }
    }
    section {
      &.about,
      &.experience {
        aside.content article.summary {
          margin: 3rem 0 5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  main.home {
    &.snap-container {
      // Setting this for all browsers at smaller screen widths including Safari.
      scroll-snap-type: y mandatory;
    }
    section {
      &.intro,
      &.about,
      &.experience {
        aside.content {
          padding-left: 2.75rem;
          padding-top: 4.5rem;

          article.summary {
            width: calc(100vw - 5rem);
            margin: 3rem 0 5rem;
          }
        }
      }

      &.intro {
        h2.welcome {
          margin: 16rem 5.25rem 0;
        }
        div.prompt {
          align-items: flex-start;
          margin-top: 7rem;
        }
        aside.background-anchor {
          visibility: hidden;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  main.home section.intro {
    h2.welcome {
      margin: 11rem 4rem 0;
    }
    div.prompt {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 360px) {
  main.home section.intro {
    h2.welcome {
      margin: 11rem 2.5rem 0;
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 415px) {
  main.home section {
    &.intro,
    &.about,
    &.experience {
      height: calc(100vh + 15rem);

      aside.content {
        padding-left: 3.75rem;
        padding-top: 4rem;

        h1 {
          margin: 1rem 0;
        }

        article.summary {
          width: calc(100vw - 7.5rem);
          margin: 1rem 0 3rem;
          font-size: 1.15rem;
        }
      }
    }
    &.intro {
      h2.welcome {
        margin: 7rem 5.25rem 3rem;
      }
      div.prompt {
        align-items: flex-start;
        min-height: auto;
      }
      aside.background-anchor {
        visibility: hidden;
      }
    }
  }
}

// Safari Only
// This is a work-around for using the backdrop-filter in the glass-morph mixin since it interferes
// with the porthole background in Safari.
@supports (-webkit-hyphens: none) {
  main.home section.intro aside.background-anchor {
    div.code-editor-ss-anchor div.code-editor-screenshot,
    div.design-ss-anchor div.design-screenshot {
      filter: blur(4.5px);
    }
  }
}
