<script>
  import { dev } from '$app/environment';
  import { inject } from '@vercel/analytics';

  import Navbar from '$lib/components/navbar/navbar.svelte';

  inject({ mode: dev ? 'development' : 'production' });
</script>

<Navbar />

<slot />

<style lang="scss">
  @use '/static/assets/sass/base/typography';
  @use '/static/assets/sass/abstracts/colors';

  :global(html) {
    color: colors.$darkest;
    background-color: colors.$lightest;
  }
</style>
