$accent01: #ecd444;
$accent02: #f1df73;
$accent03: #f5e9a1;
$accent04: #2d55a2;

$dark: #64594f;
$darker: #423429;
$darkest: #211103;

$success: #219653;

$light: #eddea4;
$lighter: #f6eed1;
$lightest: #faf7e8;

$primary01: #061c37;
$primary02: #455569;
$primary03: #828d9b;

$secondary01: #b1bfe5;
$secondary02: #c5cfec;
$secondary03: #d8dff2;
