@use '/static/assets/sass/abstracts/mixins';
@use '/static/assets/sass/abstracts/colors';

$corner-size: 6px;

ul.toggle-switch {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
  height: 3.25rem;
  @include mixins.reveal-from-left();

  li {
    margin: 0;
    height: 1.75rem;
    border: solid 1px;
    padding: 0.25rem 0.5rem;
    &:only-child {
      border-radius: $corner-size;
    }

    &:not(.selected) {
      background-color: colors.$primary01;
      border-color: colors.$primary01;
      a,
      a:link,
      a:visited {
        color: colors.$secondary03;
        svg path {
          fill: colors.$secondary03;
        }
      }
    }

    &.selected {
      filter: opacity(0.5);
      &:hover {
        cursor: default;
      }
      a,
      a:link,
      a:visited {
        color: colors.$primary01;
        svg path {
          fill: colors.$primary01;
        }
        &:hover {
          cursor: inherit;
        }
      }
    }

    &.selected.angular {
      a svg {
        path:nth-of-type(1) {
          fill: colors.$primary02;
        }
        path:nth-of-type(2) {
          fill: colors.$primary01;
        }
        path:nth-of-type(3) {
          fill: colors.$lightest;
        }
      }
    }

    &.angular {
      a svg {
        path:nth-of-type(1) {
          fill: colors.$secondary03;
        }
        path:nth-of-type(2) {
          fill: colors.$secondary02;
        }
        path:nth-of-type(3) {
          fill: colors.$primary01;
        }
      }
    }
  }

  &:has(li:nth-of-type(2)) {
    li:first-child {
      border-radius: $corner-size 0 0 $corner-size;
      border-right-style: none;
    }
    li:last-child {
      border-radius: 0 $corner-size $corner-size 0;
    }
  }

  &:has(li:nth-of-type(3)) {
    li:last-child {
      border-left-style: none;
    }
  }
}
