<script lang="ts">
  interface PortalUrlMap {
    [key: string]: string;
  }

  const portalUrlMap: PortalUrlMap = {
    angular: 'https://portfolio-rektnoob.vercel.app/',
    react: 'https://portfolio-react-rektnoob.vercel.app/'
  };
</script>

<ul class="toggle-switch">
  <li>
    <a
      href={portalUrlMap['react']}
      target="_self"
      rel="alternate"
      aria-label="Same site written in React."
    >
      <svg
        width="100%"
        height="100%"
        viewBox="-10.5 -9.45 21 18.9"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="0" cy="0" r="2" fill="currentColor" />
        <g stroke="currentColor" fill="none">
          <ellipse rx="10" ry="4.5" />
          <ellipse rx="10" ry="4.5" transform="rotate(60)" />
          <ellipse rx="10" ry="4.5" transform="rotate(120)" />
        </g>
      </svg>
    </a>
  </li>

  <li class="selected">
    <a
      href="#top"
      target="_self"
      rel="alternate"
      on:click={(ev) => ev.preventDefault()}
      aria-label="Same site written in Svelte."
    >
      <svg
        fill="#000000"
        width="100%"
        height="100%"
        viewBox="0 0 24 24"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        ><title>Svelte icon</title><path
          d="M20.68 3.17a7.3 7.3 0 0 0-9.8-2.1l-5.6 3.56a6.36 6.36 0 0 0-2.89 4.3 6.66 6.66 0 0 0 .67 4.33 6.14 6.14 0 0 0-.95 2.4 6.84 6.84 0 0 0 1.16 5.16 7.33 7.33 0 0 0 9.8 2.12l5.6-3.56a6.36 6.36 0 0 0 2.88-4.3 6.66 6.66 0 0 0-.67-4.32 6.79 6.79 0 0 0-.2-7.59zM10.32 21.13a4.43 4.43 0 0 1-4.76-1.77c-.65-.9-.89-2.01-.7-3.11l.11-.53.1-.33.3.2c.66.5 1.4.86 2.19 1.1l.2.07-.02.2c-.02.28.06.59.22.83.33.47.9.7 1.45.55.12-.04.24-.08.34-.14l5.58-3.56c.28-.18.46-.45.53-.77.06-.33-.02-.67-.2-.94-.33-.46-.9-.67-1.45-.53-.12.04-.25.09-.35.15l-2.11 1.34a4.43 4.43 0 0 1-5.9-1.28 4.1 4.1 0 0 1-.7-3.11A3.85 3.85 0 0 1 6.92 6.9l5.57-3.56c.35-.22.73-.38 1.14-.5 1.8-.47 3.7.24 4.76 1.76a4.12 4.12 0 0 1 .57 3.64l-.1.33-.29-.2a7.42 7.42 0 0 0-2.2-1.1l-.2-.06.02-.2c.02-.29-.06-.6-.22-.84-.33-.47-.9-.67-1.45-.53-.12.04-.24.08-.34.14L8.59 9.37c-.28.19-.46.45-.52.78-.06.32.02.67.2.93.32.47.9.67 1.44.53.13-.04.25-.08.35-.14l2.13-1.36c.35-.23.74-.4 1.14-.51 1.81-.47 3.7.24 4.76 1.77.65.9.9 2.01.72 3.1a3.85 3.85 0 0 1-1.75 2.6l-5.58 3.55a4.9 4.9 0 0 1-1.16.51z"
        /></svg
      >
    </a>
  </li>

  <li class="angular">
    <a
      href={portalUrlMap['angular']}
      target="_self"
      rel="alternate"
      aria-label="Same site written in Angular."
    >
      <svg
        width="100%"
        height="100%"
        viewBox="0 0 256 272"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid"
      >
        <path
          d="M.1 45.522L125.908.697l129.196 44.028-20.919 166.45-108.277 59.966-106.583-59.169L.1 45.522z"
          fill="#E23237"
        />
        <path
          d="M255.104 44.725L125.908.697v270.444l108.277-59.866 20.919-166.55z"
          fill="#B52E31"
        />
        <path
          d="M126.107 32.274L47.714 206.693l29.285-.498 15.739-39.347h70.325l17.233 39.845 27.99.498-82.179-174.917zm.2 55.882l26.496 55.383h-49.806l23.31-55.383z"
          fill="currentColor"
        />
      </svg>
    </a>
  </li>
</ul>

<style lang="scss">
  @use './framework-toggle.scss';
</style>
