<section class="gms-detail">
  <section class="content">
    <header>
      <h3>Global Monitoring Dashboard</h3>
      <h4>for Ursa Space Systems</h4>
    </header>
    <section class="details">
      <aside class="summary">
        <h6>Figma was the design tool of choice.</h6>
        <h6>Development Stack included Angular 14, Mapbox JS, CSS3, Dart SASS, and HTML5.</h6>
      </aside>
      <aside class="icons1">
        <section class="icon-wrapper">
          <img src="/assets/svg/Angular-logo.svg" alt="Angular logo" />
        </section>
        <section class="icon-wrapper">
          <img src="/assets/svg/figma-logo.svg" alt="Figma logo" />
        </section>
        <section class="icon-wrapper">
          <img src="/assets/svg/Mapbox-logo.svg" alt="Mapbox logo" />
        </section>
      </aside>
      <aside class="icons2">
        <section class="icon-wrapper">
          <img src="/assets/svg/css3-logo.svg" alt="CSS3 logo" />
        </section>
        <section class="icon-wrapper">
          <img src="/assets/svg/Sass-logo.svg" alt="SASS logo" />
        </section>
        <section class="icon-wrapper">
          <img src="/assets/svg/html5-logo.svg" alt="HTML5 logo" />
        </section>
      </aside>
      <aside class="icon-desc">
        <p>Angular, Figma, Mapbox, CSS3, SASS, HTML5</p>
      </aside>
    </section>
  </section>
</section>

<style lang="scss">
  @use './gms-detail.scss';
</style>
