<script>
  import Footer from '$lib/components/footer/footer.svelte';
</script>

<main class="contact">
  <Footer tagLine={"Let's solve some problems together!"} showFade={false} />
</main>

<svelte:head>
  <title>Chris Demaria | Contact</title>
</svelte:head>
