<script lang="ts">
  import Carousel from '$lib/components/carousel/carousel.svelte';
  import GmsDetail from '$lib/components/gms-detail/gms-detail.svelte';
  import VideoPlayer from '$lib/components/video-player/video-player.svelte';

  interface ProjectSummaryDef {
    title: string;
    subTitle: string;
  }

  const globalMonitoring: ProjectSummaryDef = {
    title: 'Global Monitoring Dashboard',
    subTitle: 'Ursa Space Systems'
  };

  const ursaPlatform: ProjectSummaryDef = {
    title: 'Ursa Platform UI',
    subTitle: 'Ursa Space Systems'
  };

  const buildUp: ProjectSummaryDef = {
    title: 'Buildings Up Challenge Proposal (Video)',
    subTitle: 'Village of Montour Falls'
  };

  interface VideoUrls {
    [name: string]: string;
  }

  const videoUrls: VideoUrls = {
    ursaGms: 'https://player.vimeo.com/video/787712970?h=906553a6aa#t=1s&amp;quality=1080p',
    ursaPlatform: 'https://player.vimeo.com/video/589643051?h=5d8eb2e89d#t=5s&amp;quality=1080p',
    buildingsUp: 'https://www.youtube.com/embed/KyDr6nJBm3s'
  };
</script>

<main class="projects">
  <h1>Projects</h1>
  <section class="snap-container">
    <section class="project">
      <aside class="project-summary">
        <h2>{globalMonitoring.title}</h2>
        <h3>{globalMonitoring.subTitle}</h3>
        <section class="desc">
          <article>
            Here&apos;s one of my recent projects where my role as UI Team Lead allowed me to both
            mentor the entire UI Team as well as design and coauthor the UI.
          </article>
          <article>
            This project involved cross-team coordination, UI/UX design, user testing, and
            development of a UI to visualize AI analysis of satellite radar imagery.
          </article>
        </section>
      </aside>
      <aside class="carousel-wrapper">
        <div class="carousel">
          <Carousel>
            <img
              class="screenshot"
              alt="Ursa Global Monitoring Screenshot"
              src="/assets/images/Ursa - Project01 - SS - GMS.png"
            />
            <GmsDetail />
            <VideoPlayer src={videoUrls.ursaGms} />
          </Carousel>
        </div>
        <p>Swipe for more details.</p>
      </aside>
    </section>

    <section class="project">
      <aside class="project-summary">
        <h2>{ursaPlatform.title}</h2>
        <h3>{ursaPlatform.subTitle}</h3>
        <section class="desc">
          <article>
            This was a fun series of redesigns and feature additions to Ursa&apos;s internal and
            external facing web portal.
          </article>
        </section>
        <section class="desc">
          <details class="more">
            <summary>More details...</summary>
            <article>
              <p>
                Early on, we redesigned the UI for searching the Imagery Catalog. I co-authored the
                Hi-Fi mockups in Figma. Then, I implemented those changes using Angular, CSS3, SASS,
                HTML5, and GraphQL.
              </p>
              <p>
                The original Imagery Catalog search design had two separate slide-outs where filters
                could be applied. On the left side of the screen there was a slide-out for basic
                filters. On the right, was another slide-out for advanced filters. The action
                button, that executed the search, was only available in the advanced filters
                slide-out. So, kicking off an imagery search wasn&apos;t intuitive especially if you
                just wanted basic filters.
              </p>
              <p>
                We consolidated all of the basic and advanced filter parameters into a single
                slide-out and made the search button always visible and styled it with the primary
                color. We avoided clutter by reducing all of the non-essential, advanced filters to
                a <em>More</em>
                button. This allowed them to be dynamically added to the form by clicking
                <em>More</em>.
              </p>
              <p>
                I improved the code by refactoring the complex search logic out of the advanced
                filters component and into an Angular service to facilitate reuse.
              </p>
            </article>
            <article>
              Later we did a more comprehensive redesign involving a new design system with a fresh
              color scheme and better typography. I co-created the design system in Figma. Then, I
              implemented design system using Angular Material&apos;s Theming System and SASS.
            </article>
            <article>
              <p>
                Another fun project I worked on was implementing an integration with <em
                  >Stripe.com</em
                > to allow the purchasing of Synthetic Aperture Radar (SAR) imagery from Ursa&apos;s
                constellation of data partner satellites.
              </p>
              <p>
                The New Image Tasking Module, which allowed users to task a satellite to collect
                imagery for a given location and future time frame, was also integrated with <em
                  >Stripe.com</em
                > to faclitate these purchases.
              </p>
            </article>
          </details>
        </section>
      </aside>
      <aside class="carousel-wrapper">
        <div class="carousel">
          <Carousel>
            <img
              class="screenshot"
              alt="Imagery Search Query Screenshot"
              src="/assets/images/Imagery Search Query.png"
            />
            <img
              class="screenshot"
              alt="Imagery Search Results Screenshot"
              src="/assets/images/Imagery Search Results.png"
            />
            <VideoPlayer src={videoUrls.ursaPlatform} />
          </Carousel>
        </div>
        <p>Swipe for more details.</p>
      </aside>
    </section>

    <section class="project">
      <aside class="project-summary">
        <h2>{buildUp.title}</h2>
        <h3>{buildUp.subTitle}</h3>
        <section class="desc">
          <article>
            Videography and Video Editing for a short film that accompanied a grant application for
            funds to support households in completing projects that improve and prepare homes for
            efficiency improvements and electrification.
          </article>
        </section>
      </aside>
      <aside class="embedded-video">
        <iframe
          src="https://www.youtube.com/embed/KyDr6nJBm3s"
          title="Buildings Up Challenge Proposal (Video)"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        />
      </aside>
    </section>
  </section>
</main>

<svelte:head>
  <title>Chris Demaria | Projects</title>
</svelte:head>

<style lang="scss">
  @use './projects.scss';
</style>
