@use '/static/assets/sass/abstracts/colors';
@use 'sass:math';

$summary-width: 19rem;

main.projects {
  display: flex;
  padding-left: 6.75rem;
  padding-top: 5rem;
  overflow-x: clip;
  flex-direction: column;

  h1 {
    margin: 1rem 0 1.5rem;
  }

  section.snap-container {
    overflow-y: scroll;
    overflow-x: clip;
    scroll-snap-type: y mandatory;
    height: calc(100vh - 10.5rem);
  }

  section.project {
    display: flex;
    flex-direction: row;
    padding-bottom: 7rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    aside.project-summary {
      width: $summary-width;
      min-width: $summary-width;
    }

    aside.embedded-video {
      width: 100%;
      margin: 0 5rem;
      iframe {
        aspect-ratio: math.div(16, 9);
        width: 100%;
        max-width: 90rem;
        border-radius: 0.25rem;
        border: none;
      }
    }

    aside.carousel-wrapper {
      display: flex;
      flex-direction: column;

      div.carousel {
        display: flex;
        margin: 0 4.5rem;
        max-width: 93.75rem;

        img.screenshot {
          width: 100%;
        }
      }
      p {
        align-self: center;
      }
    }

    &:last-child {
      margin-bottom: 20rem;
    }
  }
}

@mixin remove() {
  visibility: hidden;
  height: 0;
  margin: 0;
}

@media screen and (max-height: 750px) {
  main.projects {
    h1 {
      @include remove();
    }
    section.project {
      aside.carousel-wrapper div.carousel,
      aside.embedded-video {
        max-width: 46rem;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  main.projects {
    padding-left: 2.5rem;
    section.project {
      flex-direction: column;

      aside.project-summary {
        width: calc(100vw - 5rem);
      }

      @mixin adjust-spacing($widthMod: 5rem) {
        display: flex;
        margin: 0;
        padding: 0;
        width: calc(100vw - $widthMod);
      }

      aside.embedded-video {
        @include adjust-spacing();
      }

      aside.carousel-wrapper {
        div.carousel {
          @include adjust-spacing();
        }
        p {
          padding-right: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  h1 {
    margin: 0.75rem 0;
  }
}

@media screen and (max-device-width: 280px) {
  main.projects {
    padding-left: 1rem;
    section.project aside.carousel-wrapper div.carousel {
      width: calc(100vw - 2.5rem);
    }
  }
}

@media screen and (orientation: landscape) and (max-device-height: 820px) {
  main.projects {
    padding-left: 3.75rem;
    section.project aside.carousel-wrapper {
      div.carousel {
        padding: 0;
        margin: 0 2.5rem;
        width: 90%;
      }
      p {
        margin: 0;
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-device-height: 540px) {
  main.projects section.project {
    aside.carousel-wrapper div.carousel,
    aside-embedded-video {
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 415px) {
  main.projects {
    padding: 4rem 2rem 0;
    h1 {
      @include remove();
    }

    section.snap-container {
      height: calc(100vh - 5.5rem);
    }

    section.project {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5vw;
      padding-bottom: 3rem;

      aside.project-summary,
      aside.carousel-wrapper,
      aside.embedded-video {
        width: 45vw;
      }
      aside.carousel-wrapper {
        justify-content: flex-start;
      }
      aside.embedded-video {
        margin: 0;
        aspect-ratio: math.div(16, 9);
      }
    }
  }
}

aside.project-summary {
  h2 {
    margin: 0;
  }
  h3 {
    margin: 0 0 0.5rem;
    color: colors.$dark;
  }
  article {
    font-size: 1.188rem;
    margin: 2.5rem 0;
  }

  section.desc,
  section.desc details.more {
    margin: 2.75rem 0;
    overflow-y: auto;

    article:first-child {
      margin-top: 0;
    }

    article:last-child {
      margin-bottom: 0;
    }
  }

  section.desc details.more {
    border: 1px solid colors.$dark;
    border-radius: 4px;
    padding: 0.5rem;
    width: fit-content;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  aside.project-summary section.desc {
    details.more {
      max-height: calc(100vh - 30rem);
    }
  }
}

@media screen and (max-width: 425px) {
  aside.project-summary {
    section.desc,
    article {
      margin: 1rem 0;
    }
  }
}

@media screen and (max-device-width: 280px) {
  aside.project-summary section.desc {
    width: calc(100vw - 2rem);
  }
}
