<script lang="ts">
  export let src = '';
</script>

<section class="video-player-wrapper">
  <figure class="video-player">
    <iframe title="video-player" {src} />
  </figure>
</section>

<style lang="scss">
  section.video-player-wrapper {
    height: 100%;

    figure.video-player {
      height: 98%;
      margin: 0;

      iframe {
        height: 100%;
        width: 100%;
        border: none;
      }
    }
  }
</style>
