<script lang="ts">
  import anime from 'animejs';
  import { onMount } from 'svelte';

  let selfRef: HTMLSpanElement;

  function animateSelf() {
    const styles = `
          transform-origin: 50% 100%;  
          display: inline-block;
        `;

    if (selfRef?.textContent) {
      selfRef.innerHTML = selfRef.textContent.replace(
        /\S/g,
        `<span class='letter' style="${styles}">$&</span>`
      );
    }

    anime.timeline({ loop: false }).add({
      targets: 'div.welcome div.greeting .letter',
      scale: [0, 1],
      duration: 1500,
      elasticity: 600,
      delay: (el: HTMLElement, i: number) => 45 * (i + 1)
    });
  }

  onMount(() => {
    animateSelf();
  });
</script>

<div class="welcome">
  <div class="greeting">
    Greetings! I&#39;m{' '}
    <span class="highlight letters" bind:this={selfRef}>Chris Demaria</span>.
  </div>
  <div>I&#39;m a Full-Stack, Senior Software Engineer.</div>
</div>

<style lang="scss">
  @use '/static/assets/sass/abstracts/colors';

  div.welcome {
    span.highlight {
      color: colors.$accent04;
      &.letters {
        display: inline-block;
        letter-spacing: 0.1rem;
      }
    }
  }
</style>
