@use '/static/assets/sass/abstracts/mixins';
@use '/static/assets/sass/abstracts/colors';
@use 'sass:color';

$navLinkColor: colors.$darkest;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$lightest;
  border-bottom: 1px solid colors.$dark;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 3.25rem;
  z-index: 2;

  .nav-btn {
    margin: 0 1.5rem;
    height: 1.75rem;
    svg {
      fill: $navLinkColor;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .menu {
    display: flex;
    .nav-btn {
      @include mixins.reveal-from-right();
    }
  }
  .config .nav-btn {
    @include mixins.reveal-from-left();
  }

  ul {
    display: flex;
    justify-content: space-around;
    li {
      list-style-type: none;
      padding: 0 1rem;
      margin: 0 2rem;
      a {
        color: $navLinkColor;
        text-decoration: none;
        &.highlight {
          font-weight: bold;
          cursor: default;
        }
        &:hover:not(.highlight) {
          color: colors.$accent04;
          cursor: pointer;
        }
      }

      @include mixins.reveal-from-right();
    }
  }

  .config {
    display: flex;
    align-items: center;
    .close {
      margin: 0 0.5rem 0 1.5rem;
      fill: colors.$darkest;
      @include mixins.reveal-from-left();
      height: 1.75rem;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 720px) {
  nav ul li {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 280px) {
  nav ul li {
    margin: 0 0.5rem;
  }
}
