@font-face {
  font-family: 'DisplayFont';
  src: url('/assets/fonts/raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'DisplayFontItalic';
  src: url('/assets/fonts/raleway/Raleway-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'CaptionFont';
  src: url('/assets/fonts/raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'CaptionFontItalic';
  src: url('/assets/fonts/raleway/Raleway-Italic-VariableFont_wght.ttf');
}

:global(html) {
  font-size: 16px;
}

@media screen and (max-width: 415px) {
  :global(html) {
    font-size: 14px;
  }
}

:global(body) {
  font-family: 'CaptionFont';
  font-size: 1rem;
  margin: 0;
}

:global(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
  font-family: 'DisplayFont';
  font-weight: normal;
  line-height: 1.2em;
}

:global(h1, .h1) {
  font-size: 2.5rem; // 40px;
}
:global(h2, .h2) {
  font-size: 2rem; // 32px;
}
:global(h3, .h3) {
  font-size: 1.75rem; // 28px;
}
:global(h4, .h4) {
  font-size: 1.5rem; // 24px;
}
:global(h5, .h5) {
  font-size: 1.313rem; // 21px;
}
:global(h6, .h6) {
  font-size: 1.188rem; // 19px;
}
