<section class="carousel-slider">
  <slot />
</section>

<style lang="scss">
  section.carousel-slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    :global(:is(.carousel-slider > *)) {
      position: relative;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      min-width: 100%;
    }
  }

  @media screen and (max-width: 415px),
    screen and (orientation: landscape) and (max-height: 415px) {
    section.carousel-slider {
      overflow-y: clip;
    }
  }
</style>
